# Editor/OS
.vscode/
.DS_Store

# Node
web/node_modules/
web/dist/
web/.env.local

# Python
arkode-backend/.env
arkode-backend/.venv/
arkode-backend/__pycache__/
arkode-backend/.alembic/
arkode-backend/*.sqlite

# Docker
infra/dbdata/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
